</div>
</body>
<br>
<div class="container">
    <hr>
    <footer>
        <a href="/" style="color:white"><u>Back to Home</u></a>
        <h6>Copyright © 2020 NirwanBakery. All rights reserved.</h6>
    </footer>
</div>